/* Universal Styles */

html {
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  width: 100%;
}

.common-container {
  display: flex;
  border: solid thin black;
  width: 100%;
}

.box1 {
  border: solid thin black;
  width: 60%;
  padding: 2rem 1.5rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;

}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
  padding: .5rem 7.25rem;
  }



/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
  height: 4rem;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;]
}

header .logotext {
  font-size: 2rem;
}

header .logotext.secondword {
  color: gray;
}

header .desktop {
  display: inline;
  padding-right: .5rem;
}

header .desktop span {
  padding-right: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .logo {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

}

/* startsection */

#startsection {
  background-color: lightgray;
}

#startsection .box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: solid thin black;
  width: 40%;
  padding-left: 1rem;
}

/* infosection */

#infosection .box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid thin black;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

.infobox {
  display: flex;
  width: 100%;
  border: solid thin black;
}

.infobox1 {
    display: flex;
    border: solid thin black;
    width: 35%;
    padding: 1rem;
  }

.infobox2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: solid thin black;
    width: 65%;
    padding-left: 1rem;
  }

#lastbox {
  margin-bottom: 2rem;
  background-color: lightgray;
}

.infobox2 a {
  color: blue;
}

/* coursesection */

.coursesection {
  border: solid thin black;
  background-color: lightgray;
}

.coursection h1 {
  display: block;
}

.courseline {
  display: flex;
  border: solid thin black;
}
