/* Universal Styles */

html {
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  width: 100%;
}

.common-container {
  display: flex;
  border: solid thin black;
  width: 100%;
}

.box1 {
  display: flex;
  border: solid thin black;
  width: 60%
}

.box2 {
  display: flex;
  border: solid thin black;
  width: 40%;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}



/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1.5rem;
}

header .logotext {
  font-size: 2rem;
}

header .logotext.secondword {
  color: gray;
}

header .desktop {
  display: inline;
  padding-right: .5rem;
}

header .desktop span {
  padding-right: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .logo {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

}
